<%- include("partials/header.ejs") %>
        <main>
            <div class="title">
                <h1><%= date %></h1>
            </div>
            <div class="task-list">
                <% tasks.forEach((task) => { %>
                    <div class="task">
                        <input type="checkbox">
                        <p><%= task %></p>
                    </div>
                <% }); %>
                <form action="/addToDoTask" method="POST" class="task addTask">
                    <input type="text" name="newTask" placeholder="New Task">
                    <input type="submit" value="+">
                </form>
            </div>
        </main>
<%- include("partials/footer.ejs") %>
